@theme {
  --color-primary-color: #ffffff;
  --color-secondary-color: #ffffff;
  --color-primary-text: #ffffff;
  --color-secondary-text: #ffffff;
  --color-primary-accent: #ffffff;
  --color-secondary-accent: #ffffff;
  --color-border: #ffffff;
}

html.dark,
[data-status="dark"] {
  --color-primary-color: #ffffff;
  --color-secondary-color: #ffffff;
  --color-primary-text: #ffffff;
  --color-secondary-text: #ffffff;
  --color-primary-accent: #ffffff;
  --color-secondary-accent: #ffffff;
  --color-border: #ffffff;
}
