@import "tailwindcss";

@theme {
  --color-primary: #cba9ef;
  --color-secondary: #a06ec4;
  --color-text-primary: #ffffff;
  --color-text-secondary: #2f0d68;
  --color-accent-primary: #f8b5d2;
  --color-accent-secondary: #e378a8;
  --color-border: #ffffff;
}

html.dark,
[data-theme="dark"] {
  --color-primary: #cba9ef;
  --color-secondary: #a06ec4;
  --color-text-primary: #ffffff;
  --color-text-secondary: #2f0d68;
  --color-accent-primary: #f8b5d2;
  --color-accent-secondary: #e378a8;
  --color-border: #ffffff;
}
